/* Disable text selection */
body {
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
}
/* Disable context menu on right-click */
body {
  -webkit-touch-callout: none; /* Disable text copy on iOS */
}
